<search-bar></search-bar>

<div>
  <today-task>

  </today-task>
</div>

<div>
  <active-task [leftDaysBackground]="'#DDACF566'" [leftDaysColor]="'#64379F'">
  </active-task>

  <active-task [leftDaysBackground]="'#DCDFF9'" [leftDaysColor]="'#7581E8'">
  </active-task>

  <active-task [leftDaysBackground]="'#FDD3B4'" [leftDaysColor]="'#E26001'">
  </active-task>
</div>

<div>
  <completed-tasks-graph>

  </completed-tasks-graph>

  <team-members-list>

  </team-members-list>
</div>
