@import url(/src/styles/constants.css);
@import url(/src/styles/colors.css);

:host {
  border-radius: var(--rectangle__border-radius);
  margin: 30px 22px 0px 22px;
  height: 250px;
  box-shadow: 0px 0px 10px 2px var(--box-shadow);
  position: relative;
  left: 170px;
  display: block;
  top: 70px;
}
